---
import CardProyect from './CardProyect'
import TitleAnimado from "./TitleAnimado"
import {proyectos} from '../data/proyectos'

const title = 'Proyectos Destacados'

---

<section class="pt-32  sm:px-4 md:px-6 lg:px-20">
    <header class="text-center mb-4 sm:mb-8 md:mb-10 lg:mb-12">
        <h2 class="font-clashVariable text-5xl sm:text-6xl md:text-7xl lg:text-8xl">
            <TitleAnimado client:visible title={title}/>
        </h2>
    </header>
    <div class="flex flex-col gap-y-5 sm:gap-y-6 md:gap-y-7 lg:gap-y-8">
        <!-- proyectos -->
        {
            proyectos.map(({img, fecha, title}, index) => (
                <CardProyect client:load 
                    img={img} 
                    fecha={fecha} 
                    title={title} 
                    odd={index % 2 === 0}
                />
            ))
        }

        <!-- <div class="text-4xl lg:text-5xl text-center  mt-4 sm:mt-8 md:mt-10 lg:mt-12 opacity-40">
            <EnlaceAnimadoTexto text="Ver más" textDecoration={true}/>
        </div> -->
    </div>
</section>

<style>

</style>